/**adds stuff before post header**/
div.entry > h1::before{
content:"moonlight admits orz and ";
color:#3b6f69;}

/**makes blog info button = signout **/
.blog-info{
display:none!important;}

.blog-logout:after{
font-size:18px!important;
content: " • Blog Info";}
