/**adds stuff before post header**/
div.entry > h1::before{
content:"moonlight admits orz and ";
color:#3b6f69;}

/**makes blog info button = signout **/
.blog-info{
display:none!important;}

.blog-logout:after{
font-size:18px!important;
content: " • Blog Info";}

a[href="/community/user/1106231"]{font-size: 0px!important}
a[href="/community/user/1106231"]::before{
font-family: vividly;
font-size: 20px!important;
color: green;
content: "very sweet lil catcumber ˖ ᡣ𐭩 ⊹ ࣪  ౨ৎ˚₊"!important;
}
